.photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.photos li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.photos li span {
  width: 100%;
  text-align: center;
}
